.block-counter .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.block-counter{
    background-color: #F5F7FA;
    padding: 40px 0;
}

.block-counter .row .col1{
    width: 50%;
}
.block-counter .row .col1 p{
   text-align: left;
}
.block-counter .row .col2{
    width: 40%;
}

.block-counter .row .col2 .row{
    padding: 20px 0;
}